Source: maemopaedia
Section: user/network
Priority: extra
Maintainer: Senko Rasic <senko@senko.net>
Build-Depends: debhelper (>= 4), libhildon1-dev, libsqlite3-dev, libdbus-glib-1-dev, libdbus-1-dev, gconf-2.0
Standards-Version: 4

Package: maemopaedia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Offline Wikipedia reader
  Offline Wikipedia reader
XB-Maemo-Icon-26:
  iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
  6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0
  SU1FB9oBDAEfLPaHC6sAAA6ASURBVGje7Vp5VFRHuv/VvbdvN73RdGuDoLIo
  GhkwRvIm5kXnOO6jSZ5BjUtwwRUVo8YYdLKY5BiXqBE33BWVgBI1icmo7+WN
  RrNr1PjcQECUZu2mhWbr5S71/tDuoRHUTMwsZ6bO6XPr1q3vq2//vqpq4N/t
  X6wVF8v//ExYLPSfj5E5c+f/KhrgfgnwrNlzkL5pAwDg3DkrszF9sam21qGT
  JFHDsZwKhFCWYWqju8YVLX3nDWHx4rfRsSPzSBkgfy3g1GnTsWP7NixflqY/
  c+7Us6IoPB1kNMaa27SN0Ov1oTyv5CVJQkmJxVrjcOzP2ps1n7BEfhhheNuC
  VxdhzeoVvw4DAPDyyws63rLk7+rTu8/TTz31lDow0ABBEABKwTAsZFlGTU0N
  PszOBMsoZmzftm1bcxyvvLoYH6xeDgCYOWvOIKu1bAavVLk6tI9c9P7KpZZp
  M5KxfeuWVmlgfwkDwaHmmSMTRk6eNnW6UsEpqCAIhGM5sCwHQggYhoFer6eO
  2hpisViCL/3fpR2pi97CN1+f8uH47tuvsXrtdkNIiHG/21P/7rgx47qxHNs9
  7/qVpD6/65e1dXN6beriJX4wj8wHOEZRLkmih1Kqqq2tbVGbkiSRbo91o99/
  /32PufNe7XHzVm7hS+MTWUkSeYAxaNSaxMuXvl4QFxujnjY9mQaoVCQ2tjtt
  bGgwXM/PP7N0WVr0G3+cVz87ZS42bVz3aE3o06OXuQ/3vps5M3nm6N/ExNKq
  KhuhlIJSClmW4e2zLIujx/6E6/nXG10u1w+EYRidVtchyGCICmsfhqef+k9E
  RUXR0tJSYrVaIcsyGIahH396mFitVdn7s7LHAUBm5hdITBz4yxn4858LMWvO
  08i7asX0SXMCoPLkjB0z5tmuXbqiuroaAPwYkGUZsiyjtKwUgscDnU4HrVYH
  rVYLdYCaNjobicPh8IMBAIfDgYOHcuo5lh+XkZHx2ePxnXDxXKEfLfeNaUvf
  W9fieP/+nZB31QpKKWcKM3eSRHrp408OQavTguf5e9VMCAghCAsNQ3h4BEym
  NuB5Hk6nE1abldTV1fnmEHJHppRSaLVa9OjxhNZR5xg7d36qpjnxLWpg5OgE
  HDxwGCNGDWcEj6iMjIxp73TWPSmInk4MQ6IoRQSlcntQOVyURJ7nFYiMjMKQ
  wX+g8T3jSUlJCWpra/2k2dykmmrlfnMopbDbq3Ds+DGbyy30ycrMzHugEx88
  cBjPDx9KRElKCA1rv06pkkNNpmAYjUYYDEEICgqCyWiC0WiC2dyWBgYaCAC4
  XC5is9nQ2Njok7rXFFrSCMMwfuYCAAzDeB3fN64KCEBgYGDb2pIS/UNHoYCA
  QF2ASjFlzOjRoU/G/wfUajUEjwBBECBKIkTxzq+urp7cvl0NURQhSZIfgZRS
  nzkQQiDLMgghUCqVqK6uRk1NDYKDg/0c3WqzorKyAiZjG5jNZkopJQxh4BEE
  EELoQzNwIDu7dtToFz91OV0DNBoNZ7Va4fF47lGvV+1e6TUdVygUYFkWLMvC
  YrFAr9ejpqYG+/btw8mTJ7Fp0yaflBmGRVWVlX508ABVKJRWWZZCgs1mYjYH
  o7SsFDU1NWeCgszFLdHaqhN/dCBny9btO/acv3BeDgoKusfJmjtoU+djWRZH
  jhxBamoqevXqhSNHjoBhGBgMBgwfPhzBwcEwmUw+BliWwfWCfCJLuLR75+52
  Wo0xpqLCtufyldz8Kpt9m8kYOmrblk1W75o7dh69PwPLV2wGABw+eHDqqtWr
  imxVNhgMBj+im9ptcXExMjIykJiYiPXr10MURcTHx6Nz586wWq2glEK4Ywbg
  eR4KhcKPeQDQajQQRI8WADZtTLu2d8+eSRm7dnbZt3ffDFmSbydOmNg+edZc
  HQBMnTIUry16t3UGFi+aiQUL3wAhBBqNIWXL1s1QKpWUZVk/u/Y2Sin0ej1y
  c3Nx/fp1iKKIsLAwTJ48GcnJyVizZg22bNly178C7llPlmV07tSZUiqHzEie
  0x8AZqXcKb/HT0waWGmzZGu1Af9TVVW6e8q0GcMA4P0Vb2H9hpzWa6Hvvj0N
  ALhw/seCLl2i50Z37hwQGGiAKIp+kUOWZRiNRsTExCAuLg7bt2/HtWvX8Nxz
  z4EQguLiYvA8j5ycHLjdbjzzzDM4fvw4Bg8e7CcAnleShvoGRWFRge7qlauH
  nh02hM6es6C/x1N3eELi+LinfvvbtpxCEVNQkDekV6/ety6cP3fl2LGP7l/M
  LVi4BN99ewo9evacGBUZ2TY0NBQej6dFCVJKERERgZiYGKSlpSE/Px/Dhw/H
  iRMn0LdvX3Tv3h3r16+HXq/HzZs3MXToUB/x3qfZbCb5+XmPfXLkqGrAwOeD
  rJVFBycnTVF37/44LS+vgMlogl6nV+fmXevWu8/v//vcj2erWQB4IeF55WMx
  3dpGd4k2xMbF6bvFxAT8JjZWZbeXKXr3GRDPMFLqkMF/gEql8oXLplrw9mVZ
  RpcuXRAdHY2NGzeitrYWbrcbUVFRGDBgABiG8Y1PmDDBD54QAoVCQYNDQnDz
  VkHv6uqKUSNHjeL69e1HL126RARBIIQQotfraXW13SyILPfOO1k/kISRw4MY
  hnk/NLT9JK1GyxGGwO1yu5wuZ5ngERrUalXc4MFD0L/fAGqz3SnWWqpzmr6r
  VCocOnQI7733HgRBwK5du9C1a1d4PB6sXbsWOTk5+Oabb3zEN4VlGAYejwcc
  x8FkaoPy8jI/oRFCaEmphZz+6hsEB0c/znEcN6/H409MHTNmLFRKFRVFkbjd
  LpXL5YoSJQkGgwHtQtrR2/bbpLWs2tShCSFwOp0YNmwYGhsb8eabb/rqI57n
  kZKSAr1eD4ZhfDmkWfkNlmUhSRLKy8vuyeqUUhIW2p62aRNECgvPTmV7xj+x
  c3LS5KDIiEhKCCE8z0Ot1kCn08MQaACv4OF0OknTtN+8RGipZKCUolu3btBo
  NOjRoweUSqUvwcXFxfnKhuZ+0Bo+r4neyRss0ag1KCjM78ERQtqHBIdAkiTi
  TfktZdzmofNBtY73W1JSEkRR9C3uZcLP9EABgBJCSGs4vTlHlmVIkoQOHTpA
  p9MrOQB1LrfbpNXq/CbdD1HTWqfpszWpEULAcRwEQaAORw2prqlBWWkp7NV2
  iIIIrU6Lzp2iSXjHcOp0Osn98DXFG94xHBylNL+yssIUbA72U58XCcMwYBgG
  kiT5FWzNs3LTUqL5d5ZlaW7uNXL12hVSVl4Bm812zuMRzhJCCiRJqANhOl+8
  eDE5ZVaKzmg0wm633+NbzS2B4zgqyzLhBEH46urVq73iez5JnU6nD4JlOahU
  HKzWSty+XY22bdtCqVRCFMUW7b0l7RBC4GxspB8fOUyKiy1wu8UNAMnkeXVx
  TEyv20venOFLKiNfHJHocDh0kZFRqKqqum/NxRCGXrlymeRdzwPndrv3/XTx
  wsJBAwcRjUYLAPB4PPTChfPk2PGjKLYUQ5ZlmM1mzJk9lxoMBlBKyf2czbu4
  x+OhBz/+iBQWFv3Yrt1jz65d83ble8sz8PriSQB2++ZPmjx1cF2dPahPn9+h
  oKDgHuKb4rXZbDj99SlitVY2AEjmOI7LLSws3Jy2bu3M2Ng42Gw2XLx0sbbK
  Zq/QaPRHzOZO+4cNS81PT09K/fL0ydfHjh6H+vr6e8ynJWbKy8tIZYXNpVIZ
  B65d83bNzNkL7hLv3xy11WMHDRikZFkWDocDLMv6coIsy9TtdhP7bTsu/HQe
  eXm5Fo7jPuE47vWc/QfrCAC8NH682uVyTXE66zrxvLpBrdaciY9/7osF819s
  9C7y4pix3TRq/rP16zZ0qq9v8NVEzbeDTaNYdXU1sg9k0fJy69KQkC4b1qe9
  a0uaMh27d/qfb70wIuGTEQkJ/zUiYQQuXPgJHMdCEARqs1mJpaQEN28VwWKx
  XBNF8TOGITsP5hy+fsfsEkDGjhuL7KzsVr19xfv7sOi18Vi56qOAU6d2/Wn1
  qtW/bxcSirq6Op/9txR674ZNaimxkM8//wy3im+dCQ6OSNmSnnY2edZ8bElf
  61tjwqQpLzCMcHjIoCFobHT6dmb1DQ1oaHCeFARxT4BK+/XePTsLvYSD3Nn+
  /qxjleEJCekjR76Q/OKI0aTSWukLZ60xcLdPJUkix44fxbfff/dV/37T+qfM
  Gio0x500ZfoIQXAuZFlFO0FwX+a4gBM8r8qur7fbIyJ6elYsW0gB4I9vfIBl
  S1/5607mVCr1V2fPnJn00thElTfpeDfoLYVYr++xLItnnumNU6dPmS9f/qI9
  gCK/g+Lps7BjW/ohAIeaAy9MXYEVyxb63psS/8BzoeYtPPyJEzeKipwlJRZo
  NVq/1N98a+ntKxQK6qh10KNHP4dKFXBx86YPiprj3bEtvdU1V61cdF+afhYD
  K5cvqNRo9P+bsXc30QfqKa/gfRpgGAYsy4LjOCh5JVQqFa2vr6enTn9JPszK
  JLl5BZ8GBraZRwjBrJTX/vb3A0ve2Yp3lszAK68uNVVUXL3RPS5WP2DAIKrT
  agEQ4nK7UF9XR+12OykpLcGNohuostkgSbgBoljMcYqju3duqU+cMBGZe/f8
  fS44FqauxKqVqXh53tvBVVUFe91uZ19K/WyfchwvMwx3leMUJwMCgrK3b007
  DwAzZ6di86aVf/+7rvkLlvr6J76k/PTkeZEvjU+MmjP3rcjNW38IfBDMP0T7
  IO34A8xt532/795T5vf81VtGVukjx7k749EQ/1B5YNK4MGR8WAqXSobKKakI
  EAAQCtC7bkQfiINSgIAABC6ZUDeVZPo3c+KMrFJMGhf2l/d9xSylsgGAESBa
  gLIAIQAlf2GIUAAyQD0AqWUYWg2Q+omJ4Y/0ovhn39Bk7LuFSePDm4/xlFKu
  yaUhJSACJdSTND7CT9J7Mm9hYmL4P4Yz79578+GYzrz17z+JtNb+HxVRqY8s
  CMxlAAAAAElFTkSuQmCC
