Source: mawire
Section: user/education
Priority: extra
Maintainer: Senko Rasic <senko@senko.net>
Build-Depends: debhelper (>= 4), libhildon1-dev, libsqlite3-dev, libdbus-glib-1-dev, libdbus-1-dev, libgconf2-dev
Standards-Version: 4

Package: mawire
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight offline Wikipedia reader
  Lightweight offline Wikipedia reader
